body{
    margin : 0;
    display : flex;
    justify-content: center; ;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(204, 231, 54) ;
    font-family: cursive;
}

#game-heading{
    font-size:xx-large;
    font-weight: bolder;
}

.form{
    background-color:white;
    padding: 23px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 15px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 3px rgb(109, 173, 12);
    color: black;
    
}

.input::placeholder{
    color: rgb(179, 177, 177);
    font-family: cursive;
}

.btn{
    background-color: rgb(109, 173, 12);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 20px;
    font-family: cursive;
    margin: 22px 0;
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: rgb(80, 126, 10);
    text-align: right;
}